#container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

#players-container {
    display: flex;
    gap: 25px;
}

#player-one-name{
    color: blue;
}

#player-two-name{
    color: red;
}

.square {
    height: 100px;
    width: 100px;

    border-style: solid;
    border-color: black;
    border-width: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 64px;
}

.square:hover {
    cursor: pointer;
}

.X{
    color: blue;
}

.O{
    color: red;
}

.player-title {
    font-weight: bold;
}